<h1>Perfil de Usuario</h1>
<div>
    <p><strong>ID:</strong> {{user._id}}</p>
    <p><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Rol:</strong> {{user.role}}</p>
    {{#if user.age}}
    <p><strong>Edad:</strong> {{user.age}}</p>
    {{/if}}
    {{#if user.cart}}
    <p><strong>ID del Carrito:</strong> {{user.cart}}</p>
    {{/if}}
    <!-- Añade aquí cualquier otro campo que quieras mostrar -->
</div>